Repository hmcts/rd-judicial-data-load, pull requests merged in 2020-03, with the labels that each got.

#47 feat: Integration test-case JRD camel routes(RDCC-988) & Code refactor
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/ParentOrchestrationRouteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/config/CamelConfig.java
  src/integrationTest/resources/application-integration.yml
  src/integrationTest/resources/application.yml
  src/integrationTest/resources/db/testmigration/V1_1__init_tables.sql
  src/integrationTest/resources/db/testmigration/V1_2__authorisation_type.sql
  src/integrationTest/resources/db/testmigration/V1_3__insert_judicial_role_type.sql
  src/integrationTest/resources/sourceFiles/judicial_appointments.csv
  src/integrationTest/resources/sourceFiles/judicial_appointments_error.csv
  src/integrationTest/resources/sourceFiles/judicial_appointments_singlerecord.csv
  src/integrationTest/resources/sourceFiles/judicial_userprofile.csv
  src/integrationTest/resources/sourceFiles/judicial_userprofile_singlerecord.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/BaseLocationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialAuthorisationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialContractType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialOfficeAuthorisation.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialRegionType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialUserRoleType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/BaseLocationRowTypeMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialAuthorisationTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialContractTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRegionTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRoleTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialUserProfileRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/BaseLocationRecordProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialAuthorisationTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialContractTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialRegionTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentOrchestrationRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/GpgConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/SftpConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/controller/JrdDataLoadController.java
  src/main/java/uk/gov/hmcts/reform/juddata/orchestrator/BlobStoreOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/juddata/orchestrator/impl/BlobStoreOrchestratorImpl.java
  src/main/java/uk/gov/hmcts/reform/juddata/predicate/BooleanPredicate.java
  src/main/java/uk/gov/hmcts/reform/juddata/scheduler/JrdBlobScheduler.java
  src/main/java/uk/gov/hmcts/reform/juddata/service/FileDecryptionService.java
  src/main/java/uk/gov/hmcts/reform/juddata/service/FileDeletionService.java
  src/main/java/uk/gov/hmcts/reform/juddata/service/FilePushService.java
  src/main/java/uk/gov/hmcts/reform/juddata/service/FileReadService.java
  src/main/java/uk/gov/hmcts/reform/juddata/service/impl/FileDecryptionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/juddata/service/impl/FileDeletionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/juddata/service/impl/PushFileToBlobServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/juddata/service/impl/ReadSftpFileServiceImpl.java
  src/main/resources/db/migration/V1_2__authorisation_type.sql
Labels: ns:rd, rel:rd-judicial-data-load-pr-47

#50 fix:sonar coverage
  build.gradle
Labels: ns:rd, rel:rd-judicial-data-load-pr-50

#49 feat: JRD camel junits coverage (RDCC-980)
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/config/CamelConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/aggregate/ListAggregationStrategy.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/vo/RouteProperties.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialOfficeAppointmentTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialUserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/helper/JrdUnitTestHelper.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialUserProfileRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/MappingConstantTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/vo/RoutePropertiesTest.java
Labels: ns:rd, rel:rd-judicial-data-load-pr-49

#52 RDCC-980 Fixing sonar issues
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ExceptionProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentOrchestrationRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/MappingConstants.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialUserProfileTest.java
Labels: ns:rd, rel:rd-judicial-data-load-pr-52

#53 refactor:Blob CSV path configuration changes
  src/main/resources/application-jrd-router.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-53

#57 feat:archiving JRD files after consumption(RDCC-1005)
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/ParentOrchestrationRouteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/config/CamelConfig.java
  src/integrationTest/resources/application-integration.yml
  src/integrationTest/resources/archivalFiles/.gitignore
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ArchiveAzureFileProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/FileReadProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentOrchestrationRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/DataSourceConfig.java
  src/main/resources/application-jrd-router.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/ArchiveAzureFileProcessorTest.java
  src/test/resources/sourceFiles/test.csv
Labels: ns:rd, rel:rd-judicial-data-load-pr-57

#61 refactor: camel cron config update
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-61

#62 ithc : code clean up
  Jenkinsfile_parameterized
  build.gradle
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-62

#65 refactor: code cleanup ITHC
  README.md
  build.gradle
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/juddata/controller/WelcomeController.java
  src/main/resources/application-jrd-router.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/juddata/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/controller/WelcomeControllerTest.java
Labels: ns:rd, rel:rd-judicial-data-load-pr-65

#66 refactor: code cleanup
  Jenkinsfile_parameterized
  build.gradle
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/juddata/controller/WelcomeController.java
  src/main/resources/application-jrd-router.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/juddata/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/controller/WelcomeControllerTest.java
Labels: ns:rd, rel:rd-judicial-data-load-pr-66

#72 refactor: azure blob version bump up
  build.gradle
Labels: ns:rd, rel:rd-judicial-data-load-pr-72

#74 refactor: app-insights configuration
  infrastructure/main.tf
Labels: ns:rd, rel:rd-judicial-data-load-pr-74
