Repository hmcts/rd-judicial-data-load, pull requests merged in 2020-04, with the labels that each got.

#73 refactor: Route failed exception handling for sonar
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/LeafTableRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentOrchestrationRoute.java
Labels: ns:rd, rel:rd-judicial-data-load-pr-73

#79 refactor: removed the app module from main.tf
  .DS_Store
  infrastructure/main.tf
Labels: ns:rd, rel:rd-judicial-data-load-pr-79

#80 refactor:updated terraform scripts to remove rg
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:rd, rel:rd-judicial-data-load-pr-80

#85 config: updated chart version
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/requirements.yaml
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-judicial-data-load-pr-85

#86 refactor: bump up JRD charts
  charts/rd-judicial-data-load/Chart.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-86

#88 fix: archival and time 24 hrs format postgres fix
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ArchiveAzureFileProcessor.java
  src/main/resources/application-jrd-router.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-88

#89 fix:scheduler timings and email disabled
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-89

#90 test: validate no of idle connections
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/DataSourceConfig.java
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-90

#92 refactor: ITHC chart bump up
  charts/rd-judicial-data-load/Chart.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-92

#93 refactor:pool size setting
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/DataSourceConfig.java
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-93

#95 fix:updated datasource pool size
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/DataSourceConfig.java
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-95

#96 fix:updated JRD auditing
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/ParentOrchestrationRouteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/ParentRouteAbstractTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JsrValidationBaseProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/LeafTableRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentOrchestrationRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/service/AuditProcessingService.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/DataSourceConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/scheduler/JrdLeafDataLoadStarter.java
  src/main/java/uk/gov/hmcts/reform/juddata/scheduler/JrdUserProfileDataLoadScheduler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/AuditProcessingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialBaseLocationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessorTest.java
Labels: ns:rd, rel:rd-judicial-data-load-pr-96

#97 refactor:scheduler timings
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-97
