Repository hmcts/rd-judicial-data-load, pull requests merged in 2020-02, with the labels that each got.

#29 feat: Master Pipeline set-up for Judicial Data Load with JRD api data base
  Jenkinsfile_CNP
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-judicial-data-load-pr-29

#30 feat: Master Pipeline set-up for Judicial Data Load with JRD api data base
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-30

#31 fix: updated secret keys
  src/main/resources/bootstrap.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-31

#32 refactor: flyway config changes
  Jenkinsfile_CNP
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-32

#33 refactor: updated application.yml for flyway configs(RDCC-926)
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-33

#35 refactor: updated application.yml for flyway configs(RDCC-926)
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-35

#28 feat: created rd data load camel route framework(RDCC-919)
  .DS_Store
  .gradle/4.10.2/fileChanges/last-build.bin
  .gradle/4.10.2/fileHashes/fileHashes.bin
  .gradle/4.10.2/fileHashes/fileHashes.lock
  .gradle/4.10.2/gc.properties
  .gradle/vcs-1/gc.properties
  .idea/$PRODUCT_WORKSPACE_FILE$
  .idea/.gitignore
  .idea/codeStyles
  .idea/misc.xml
  .idea/vcs.xml
  Jenkinsfile_CNP
  build.gradle
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/aggregate/ListAggregationStrategy.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/BaseLocationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialAuthorisationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialContractType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialOfficeAppointment.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialOfficeAuthorisation.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialRegionType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialUserProfile.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialUserRoleType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/BaseLocationRowTypeMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/IMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialAuthorisationTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialContractTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRegionTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRoleTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialUserProfileRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/BaseLocationRecordProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/FileReadProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialAuthorisationTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialContractTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialRegionTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ChildRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/MappingConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/juddata/controller/JrdDataLoadController.java
  src/main/java/uk/gov/hmcts/reform/juddata/predicate/BooleanPredicate.java
  src/main/java/uk/gov/hmcts/reform/juddata/scheduler/JrdUserProfileDataLoadScheduler.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/.DS_Store
  src/main/resources/application-jrd-router.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_2__Authorisation_Type.sql
  src/main/resources/my-camel.xml
Labels: ns:rd, rel:rd-judicial-data-load-pr-28

#37 refactor: disabled DB Migration
  Jenkinsfile_CNP
  infrastructure/main.tf
Labels: ns:rd, rel:rd-judicial-data-load-pr-37

#43 feat:JRD framework setup & camel spring transaction(RDCC-975)
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/BaseLocationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialAuthorisationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialContractType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialOfficeAppointment.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialOfficeAuthorisation.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialRegionType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialUserProfile.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/beans/JudicialUserRoleType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialUserProfileRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/BaseLocationRecordProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ExceptionProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/FileReadProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialAuthorisationTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialContractTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialRegionTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ChildRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentOrchestrationRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/MappingConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/vo/RouteProperties.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/DataSourceConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/juddata/scheduler/JrdBlobScheduler.java
  src/main/java/uk/gov/hmcts/reform/juddata/scheduler/JrdUserProfileDataLoadScheduler.java
  src/main/resources/application-jrd-router.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_2__authorisation_aype.sql
  src/main/resources/db/migration/V1_3__insert_judicial_role_type.sql
Labels: ns:rd, rel:rd-judicial-data-load-pr-43

#44 version upgrade to v11
  database/Dockerfile
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-44

#45 fix: Avoid multiple consumer for same camel route(RDCC-987)
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentOrchestrationRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/MappingConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/scheduler/JrdUserProfileDataLoadScheduler.java
  src/main/resources/application-jrd-router.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-45
