Repository hmcts/rd-judicial-data-load, pull requests merged in 2020-06, with the labels that each got.

#124 feat: JRD idempotent job setting & granular exception logging(RDCC-1404)
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  README.md
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchAuditingAndEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/LeafRouteAbstractTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/LeafRouteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/LeafRouteValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/ParentOrchestrationRouteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/ParentOrchestrationRouteValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/RestartingSpringJUnit4ClassRunner.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/SpringRestarter.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/integrationTest/resources/application-integration.yml
  src/integrationTest/resources/sourceFiles/parent/judicial_userprofile_unique_violation.csv
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialUserProfile.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ExceptionProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/HeaderValidationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/LeafTableRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/route/ParentOrchestrationRoute.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/service/AuditProcessingService.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/task/LeafRouteTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/task/ParentRouteTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/DataLoadUtil.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/MappingConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/validator/JsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/BatchConfig.java
  src/main/resources/application-jrd-router.yaml
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-judicial-data-load-pr-124

#130 RDCC-1399: Addressing any Vulnerabilities
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-judicial-data-load-pr-130

#129 fix: App-insight log issue fix(RDCC-1525)
  Jenkinsfile_nightly
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
Labels: ns:rd, rel:rd-judicial-data-load-pr-129

#131 refactor: JSR exception threshold flag disabled
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JsrValidationBaseProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/validator/JsrValidatorInitializer.java
  src/main/resources/application-jrd-router.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessorTest.java
Labels: ns:rd, rel:rd-judicial-data-load-pr-131

#133 feat: Skip the records in appointments having jsr validation for user profile with appointment file load (RDCC-1565)
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/integrationTest/resources/application-integration.yml
  src/integrationTest/resources/sourceFiles/parent/judicial_appointments_invalid_jsr_parent_elinks.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/MappingConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/validator/JsrValidatorInitializer.java
  src/main/resources/application-jrd-router.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-133

#134 fix: Skip the records in appointments having jsr validation in user profile in appointment file load
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JsrValidationBaseProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-134

#135 feat:added logger component name for JRD (RDCC-1579)
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/integrationTest/resources/application-integration.yml
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ExceptionProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/FileReadProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/HeaderValidationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JsrValidationBaseProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialBaseLocationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialContractTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialRegionTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/task/LeafRouteTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/task/ParentRouteTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/validator/JsrValidatorInitializer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-135
