Repository hmcts/rd-judicial-data-load, pull requests merged in 2021-07, with the labels that each got.

#242 changed the order of command in security.sh to fix security scan
  security.sh
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-242

#240 Add auto-update config for PR branches
  .github/workflows/autoupdate.yml
Labels: DO NOT MERGE, ns:rd, prd:rd, rel:rd-judicial-data-load-pr-240

#243 fix: scheduler job publishing status
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-243

#245 fix: ASB status issue
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-245

#250 fix: Nightly fix for mutation
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/support/ParentIntegrationTestSupport.java
  src/integrationTest/resources/application-integration-test.yml
  src/integrationTest/resources/sourceFiles/judicial_appointments_jsr.csv
  src/integrationTest/resources/sourceFiles/judicial_office_authorisation_jsr_partial_success.csv
  src/integrationTest/resources/sourceFiles/judicial_userprofile_jsr.csv
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-250

#255 fix: nightly mutation
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-255

#257 fixed cvv
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-257

#260 fix: integration test case
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/support/LeafIntegrationSupport.java
  src/integrationTest/resources/application-integration-test.yml
  src/integrationTest/resources/application-leaf-integration-test.yml
  src/integrationTest/resources/sourceFiles/judicial_appointments_jsr.csv
  src/integrationTest/resources/sourceFiles/judicial_office_authorisation_jsr_partial_success.csv
  src/integrationTest/resources/sourceFiles/judicial_userprofile_jsr.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapper.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-260

#261 fix: Sonar fix
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessor.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/FeatureToggleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-261

#258 RDCC-3045: upgraded the data ingestion library version
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-258

#262 JRD - Fix SonarQube issue in master
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchAuditingAndEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdSidamTokenService.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/juddata/exception/JudicialDataLoadException.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-262

#264 refactor: child routes skipping support for parent failure(RDCC-2908)
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/config/ParentConfig.java
  src/integrationTest/resources/application-integration-test.yml
  src/main/resources/application-jrd-router-orchestartion.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-264
