Repository hmcts/rd-judicial-data-load, pull requests merged in 2021-05, with the labels that each got.

#184 refactor: publish ASB variables
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-184

#185 refactor: updated helm variables
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-185

#202 refactor: Helm chart configuration for AKS(RDCC-2761)
  Jenkinsfile_CNP
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchAuditingAndEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/SpringStarter.java
  src/functionalTest/resources/testData/truncate-all.sql
  src/functionalTest/resources/testData/truncate-exception.sql
  src/functionalTest/resources/testData/truncate-leaf.sql
  src/functionalTest/resources/testData/truncate-parent.sql
  src/main/java/uk/gov/hmcts/reform/juddata/camel/task/LeafRouteTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/task/ParentRouteTask.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/task/LeafRouteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/task/ParentRouteTaskTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-202

#203 refactor: Publish Launch darkly env variables
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/functionalTest/resources/application-integration.yml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-203

#204 RDCC-2894: Upgrading Spring Version to 2.3.11
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-204
