Repository hmcts/rd-judicial-data-load, pull requests merged in 2021-08, with the labels that each got.

#265 Feature/RDCC-3038 - JRD : Add Service code column to Authorization table
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_10__alter_user_profile.sql
  src/functionalTest/resources/db/testmigration/V1_11__drop_and_recreate_auth_table.sql
  src/functionalTest/resources/db/testmigration/V1_12__alter_audit_exception_table.sql
  src/functionalTest/resources/db/testmigration/V1_13__alter_judicial_user_profile.sql
  src/functionalTest/resources/db/testmigration/V1_14__alter_user_profile_with_guid.sql
  src/functionalTest/resources/db/testmigration/V1_15__audit_job.sql
  src/functionalTest/resources/db/testmigration/V1_16__create_mapping_tables.sql
  src/functionalTest/resources/db/testmigration/V1_17__alter_jrd_tables.sql
  src/functionalTest/resources/db/testmigration/V1_18__alter_judicial_location_mapping_table.sql
  src/functionalTest/resources/db/testmigration/V1_19__create_jrd_lrd_region_mappings.sql
  src/functionalTest/resources/db/testmigration/V1_1__init_tables.sql
  src/functionalTest/resources/db/testmigration/V1_20__alter_judicial_service_code_mapping_table.sql
  src/functionalTest/resources/db/testmigration/V1_21__alter_judicial_office_authorisation.sql
  src/functionalTest/resources/db/testmigration/V1_2__alter_judicial_user_profile.sql
  src/functionalTest/resources/db/testmigration/V1_3__insert_judicialrole_type.sql
  src/functionalTest/resources/db/testmigration/V1_4__alter_jrd_tables.sql
  src/functionalTest/resources/db/testmigration/V1_5__defult_insert_leaf_tables.sql
  src/functionalTest/resources/db/testmigration/V1_6__excption_table.sql
  src/functionalTest/resources/db/testmigration/V1_7__audit_table.sql
  src/functionalTest/resources/db/testmigration/V1_8__delete_judicialrole_type_insert.sql
  src/functionalTest/resources/db/testmigration/V1_9__defult_insert_leaf_tables_not_exists.sql
  src/functionalTest/resources/sourceFiles/parent/judicial_office_authorisation.csv
  src/main/resources/application-jrd-router-orchestartion.yaml
  src/main/resources/db/migration/V1_10__alter_user_profile.sql
  src/main/resources/db/migration/V1_11__drop_and_recreate_auth_table.sql
  src/main/resources/db/migration/V1_12__alter_audit_exception_table.sql
  src/main/resources/db/migration/V1_13__alter_judicial_user_profile.sql
  src/main/resources/db/migration/V1_14__alter_user_profile_with_guid.sql
  src/main/resources/db/migration/V1_15__audit_job.sql
  src/main/resources/db/migration/V1_16__create_mapping_tables.sql
  src/main/resources/db/migration/V1_17__alter_jrd_tables.sql
  src/main/resources/db/migration/V1_18__alter_judicial_location_mapping_table.sql
  src/main/resources/db/migration/V1_19__create_jrd_lrd_region_mappings.sql
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_20__alter_judicial_service_code_mapping_table.sql
  src/main/resources/db/migration/V1_21__alter_judicial_office_authorisation.sql
  src/main/resources/db/migration/V1_2__alter_judicial_user_profile.sql
  src/main/resources/db/migration/V1_3__insert_judicialrole_type.sql
  src/main/resources/db/migration/V1_4__alter_jrd_tables.sql
  src/main/resources/db/migration/V1_5__defult_insert_leaf_tables.sql
  src/main/resources/db/migration/V1_6__excption_table.sql
  src/main/resources/db/migration/V1_7__audit_table.sql
  src/main/resources/db/migration/V1_8__delete_judicialrole_type_insert.sql
  src/main/resources/db/migration/V1_9__defult_insert_leaf_tables_not_exists.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-265

#266 Feat:JRD : Add ePIMS ID column to judicial_office_appointment table
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_22__alter_judicial_office_appointment.sql
  src/functionalTest/resources/sourceFiles/leaf/BaseLocations.csv
  src/functionalTest/resources/sourceFiles/leaf/BaseLocations_jsr.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_appointments.csv
  src/main/resources/application-jrd-router-orchestartion.yaml
  src/main/resources/db/migration/V1_22__alter_judicial_office_appointment.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-266

#270 RDCC-3237: Fix for CVE issue: CVE-2021-28170
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/config/ParentConfig.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-270

#276 feat: RDCC-3290 Upgraded the job chart version to latest
  charts/rd-judicial-data-load/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-276
