Repository hmcts/rd-judicial-data-load, pull requests merged in 2021-06, with the labels that each got.

#196 RDCC-2837 changed all Compile and testCompile entries to implementation and testImplementation
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-196

#206 refactor: Publish ASB code with Launch Darkly off flag in production
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchAuditingAndEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_10__audit_job.sql
  src/functionalTest/resources/db/testmigration/V1_9__alter_user_profile_with_guid.sql
  src/functionalTest/resources/testData/truncate-all.sql
  src/functionalTest/resources/testData/truncate-job.sql
  src/integrationTest/resources/archivalFiles/.gitignore
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/listener/JobResultListener.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialContractTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JobStatus.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdExecutor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/PublishJudicialData.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/BatchConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/LdConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/MessagingConfig.java
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_10__alter_user_profile_with_guid.sql
  src/main/resources/db/migration/V1_11__audit_job.sql
  src/test/java/uk/gov/hmcts/reform/juddata/camel/listener/JobResultListenerTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/servicebus/TopicPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
  src/test/resources/sourceFiles/test.csv
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-206

#208 refactor: function test case fix aat
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-208

#210 fix: nightly fix
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-210

#212 refactor: publish helm sidam vars & Spring 2.4.5
  build.gradle
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/functionalTest/resources/application-integration.yml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-212

#213 feat: End to end integration with Sidam and ASB(RDCC-2830)
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchAuditingAndEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/sourceFiles/parent/judicial_userprofile.csv
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdSidamTokenService.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdSidamTokenServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JsonFeignResponseUtil.java
  src/main/java/uk/gov/hmcts/reform/juddata/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/TokenConfigProperties.java
  src/main/java/uk/gov/hmcts/reform/juddata/exception/JudicialDataLoadException.java
  src/main/java/uk/gov/hmcts/reform/juddata/response/OpenIdAccessTokenResponse.java
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdSidamTokenServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-213

#215 refactor: Used boot strap
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-215

#217 refactor: updated sidam search query env
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/functionalTest/resources/application-integration.yml
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdSidamTokenServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-217

#220 fix: removed env variable helm from vault
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-220

#218 RDCC-2900 Nightly build missing security scan step and reports added
  Jenkinsfile_nightly
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-218

#226 fix: RDCC-2960 Fixed CVE-2021-22118 and security scan reported issue
  Jenkinsfile_nightly
  audit.json
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-226

#229 refactor: JRD ASB publishing code refactored
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/listener/JobResultListener.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-229

#232 Update DockerImage to new tagging reference
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-232

#233 fix:nightly fix mutation tests
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-233

#235 fix:camel context issue of JOB id
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-235

#237 refactor: Aks Blob chart with functional test cases
  Jenkinsfile_CNP
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-237

#239 refactor: sendgrid configuration(RDCC-2873)
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-239

#241 fix:sendgrid configuration
  charts/rd-judicial-data-load/Chart.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-241
