Repository hmcts/rd-judicial-data-load, pull requests merged in 2021-11, with the labels that each got.

#297 Bugfix: JRD : Ticket code is not populated for some records in judicial_office_authorisation table
  src/functionalTest/resources/db/testmigration/V1_28__update_ticket_code_mapping.sql
  src/main/resources/db/migration/V1_28__update_ticket_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-297

#296 FEAT: JRD : Change the start time of the Camel ingestion process to past
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/.DS_Store
  src/integrationTest/resources/application-integration-test.yml
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/main/resources/application-camel-routes-common.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-296

#299 fix:fix: RDCC-3557 Upgraded spring core version to fix CVE-2021-22096
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-299

#298 fix: RDCC_3321 Modified custom validation processor code to add all exceptions to the exception table
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/resources/db/.DS_Store
  src/functionalTest/resources/sourceFiles/parent/judicial_appointments_invalid_jsr_parent_per.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ICustomValidationProcessor.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-298

#301 Publish Test Reports in Jenkins
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-301

#302 Bugfix: Change in logic to process previous day file
  build.gradle
  src/functionalTest/resources/application-integration.yml
  src/integrationTest/resources/application-integration-test.yml
  src/main/resources/application-camel-routes-common.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-302

#300 RDCC-1754: Replace deprecated methods with new (Java 8 to Java 11 migration)
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBlobSupport.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-300

#303 added size parameter
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdSidamTokenServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-303

#304 removed jrd data per message
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-304

#308 Fix/previousdaylogic
  README.md
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-308

#309 RDCC-3697:Changes made to remove duplicate records from role type
  src/main/resources/application-jrd-router-orchestartion.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-309
