Repository hmcts/rd-judicial-data-load, pull requests merged in 2021-09, with the labels that each got.

#267 RDCC-2961: Improvement in EMAIL Lib
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdExecutor.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/EmailConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdExecutorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-267

#277 RDCC-3261: Filter additional records from the Personal file for selected Appointments
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/resources/sourceFiles/parent/judicial_userprofile_with_invalid_appointment.csv
  src/main/java/uk/gov/hmcts/reform/juddata/validators/AppointmentValidator.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/validator/AppointmentValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-277

#280 feat: RDCC-3230 Added RowID to the exception table and populated data into it
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_24__alter_dataload_exception_records_add_row_id.sql
  src/functionalTest/resources/sourceFiles/parent/judicial_office_authorisation_per_empty.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialBaseLocationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointment.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAuthorisation.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialRegionType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialUserProfile.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ICustomValidationProcessor.java
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/db/migration/V1_24__alter_dataload_exception_records_add_row_id.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-280

#279 Feat: RDCC-3249 Populate the object_ids into judicial_office_authorisation & judicial_office_appointment tables
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/sourceFiles/parent/judicial_appointments.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_office_authorisation.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_office_authorisation_invalidheader.csv
  src/integrationTest/resources/application-integration-test.yml
  src/integrationTest/resources/sourceFiles/judicial_appointments_jsr.csv
  src/integrationTest/resources/sourceFiles/judicial_office_authorisation_jsr_partial_success.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointment.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAuthorisation.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapper.java
  src/main/resources/application-jrd-router-orchestartion.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointmentTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAuthorisationTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/helper/JrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-279

#281 RDCC-3277: Created the alias names for the secrets.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/run-in-docker.sh
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/integrationTest/resources/application-integration-test.yml
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-281

#278 Add fortify implementation
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-278

#282 feat: RDCC-2961 RDCC-3261 RDCC-3230 RDCC-3249 Email improvements , Filter additional records from personal file, add row id to exception table
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_24__alter_dataload_exception_records_add_row_id.sql
  src/functionalTest/resources/sourceFiles/parent/judicial_appointments.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_office_authorisation.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_office_authorisation_invalidheader.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_office_authorisation_per_empty.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_userprofile_with_invalid_appointment.csv
  src/integrationTest/resources/application-integration-test.yml
  src/integrationTest/resources/sourceFiles/judicial_appointments_jsr.csv
  src/integrationTest/resources/sourceFiles/judicial_office_authorisation_jsr_partial_success.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialBaseLocationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointment.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAuthorisation.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialRegionType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialUserProfile.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ICustomValidationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdExecutor.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/EmailConfiguration.java
  src/main/java/uk/gov/hmcts/reform/juddata/validators/AppointmentValidator.java
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/application-jrd-router-orchestartion.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_24__alter_dataload_exception_records_add_row_id.sql
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointmentTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAuthorisationTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/helper/JrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/validator/AppointmentValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-282
