Repository hmcts/rd-judicial-data-load, pull requests merged in 2021-03, with the labels that each got.

#172 fix: Audit file status issue
  build.gradle
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ICustomValidationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessor.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-172

#171 Update app insights key secret name
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
  charts/rd-judicial-data-load/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-171

#173 fix: Stale files with truncate sql not roll-backing to existing data(RDCC-2251)
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessor.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/ExceptionProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-173

#174 feat:camel 2 to camel 3 and Junit 4 to Junit 5 migration(RDCC-2493)
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchAuditingAndEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/RestartingSpringJUnit4ClassRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/SpringRestarter.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/SpringStarter.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessor.java
  src/smokeTest/java/uk/gov/hmcts/reform/juddata/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialBaseLocationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialContractTypeTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointmentTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAuthorisationTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialRegionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialUserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialUserRoleTypeTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/listener/JobResultListenerTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialBaseLocationRowTypeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialContractTypeRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAuthorisationRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRegionTypeRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRoleTypeRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialUserProfileRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/ArchiveAzureFileProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialBaseLocationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialContractTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialRegionTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/route/beans/RoutePropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/task/LeafRouteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/task/ParentRouteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/validator/JsrValidatorInitializerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-174

#175 fix:Nightly fix mutation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessor.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointmentTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/helper/JrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapperTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialBaseLocationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialContractTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialRegionTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/task/ParentRouteTaskTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-175

#176 Update job chart version
  charts/rd-judicial-data-load/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-176

#177 fix: Fixed CVE CVE-2021-21295 by upgrading netty version
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-177
