Repository hmcts/rd-judicial-data-load, pull requests merged in 2022-02, with the labels that each got.

#356 Rdcc 3984
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-356

#358 version upgrade and CVE fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-358

#359 fixed sonar code issues
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ICustomValidationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialBaseLocationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialRegionTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/EmailTemplateTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-359

#360 RDCC-4048: Fixed CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-360

#362 fixed the sonar issues
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-362

#361 Upgrade Gradle 7.3.3
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-361

#365 added script for RDCC-4060 and Rdcc 3979
  src/main/resources/db/migration/V1_29__insert_judicial_location_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-365

#364 Refactor: functional tests and SQL statements with uppercase SQL keywords
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchAuditingAndEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBatchIntegrationSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/application-leaf-integration.yml
  src/integrationTest/resources/application-integration-test.yml
  src/integrationTest/resources/application-leaf-integration-test.yml
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/application-jrd-leaf-router.yaml
  src/main/resources/application-jrd-router-orchestartion.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-364
