Repository hmcts/rd-judicial-data-load, pull requests merged in 2022-06, with the labels that each got.

#420 Update data ingestion library version to latest - CVE Fix
  build.gradle
  charts/rd-judicial-data-load/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-420

#442 Feat:RDCC-4676:Changes made to Auto merge depend Bot script w.r.t Renovate
  .github/workflows/combine-prs.yml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-442

#449 Feat:RDCC-4902:Changes made to improve code coverage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/CommonUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-449

#448 Judicial - Update Region mapping table based on new OPT Codes
  src/functionalTest/resources/db/testmigration/V1_34__update_region_mapping.sql
  src/main/resources/db/migration/V1_34__update_region_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-448

#456 RDCC-5005: Update the chart version of service bus and blob storage to the latest
  charts/rd-judicial-data-load/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-456
