Repository hmcts/rd-judicial-data-load, pull requests merged in 2022-07, with the labels that each got.

#457 RDCC-5016: Fix CVE-2022-33915
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-457

#455 fix postgresql chart config
  charts/rd-judicial-data-load/Chart.yaml
  charts/rd-judicial-data-load/values.preview.template.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-455

#453 Feat:RDCC-4959:Changes made to update ticket_code mapping
  Jenkinsfile_CNP
  src/functionalTest/resources/db/testmigration/V1_35__update_ticket_code_mapping.sql
  src/main/resources/db/migration/V1_35__update_ticket_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-453

#460 RDCC-5000: Update the Base Location to ePIMS ID mapping table
  src/functionalTest/resources/db/testmigration/V1_36__update_judicial_location_mapping.sql
  src/main/resources/db/migration/V1_36__update_judicial_location_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-460

#458 Feat:RDCC-4997:Changes made to add and fix checkstyle issues
  config/checkstyle/checkstyle.xml
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/JrdBlobSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/testsupport/ParentIntegrationTestSupport.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/juddata/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialBaseLocationType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointment.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAuthorisation.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialRegionType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialUserRoleType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialBaseLocationRowTypeMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRegionTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRoleTypeRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialUserProfileRowMapper.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ICustomValidationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialBaseLocationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialRegionTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/task/LeafRouteTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/task/ParentRouteTask.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdExecutor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdUserProfileUtil.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/TokenConfigProperties.java
  src/main/java/uk/gov/hmcts/reform/juddata/validators/Appointment.java
  src/main/java/uk/gov/hmcts/reform/juddata/validators/AppointmentValidator.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialUserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/EmailTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/validator/AppointmentValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-458

#461 RDCC-5138: Adding Suppression for `CVE-2022-31569`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-461

#463 RDCC-5162 Delete dependabot yaml file
  .github/dependabot.yml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-463

#462 Judicial - Update the Base Location to ePIMS ID mapping table
  src/functionalTest/resources/db/testmigration/V1_37__update_judicial_location_mapping.sql
  src/main/resources/db/migration/V1_37__update_judicial_location_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-462
