Repository hmcts/rd-judicial-data-load, pull requests merged in 2022-03, with the labels that each got.

#371 update logger
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserProfileProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialUserRoleTypeProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-371

#372 JRD : Alter the JRD tables to add new columns in Personal table for HMC requirements
  src/main/resources/db/migration/V1_30__alter_jrd_tables.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-372

#373 Ignored the fortify build failure
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-373

#376 Sending base locations and region ids exception recordings in HTML te…
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/resources/application.yaml
  src/main/resources/templates/simple-template-baseLocationId.ftl
  src/main/resources/templates/simple-template-regionId.ftl
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-376

#379 RDCC_4201 Changes to Camel ingestion for Judicial Office Regions
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/resources/application-leaf-integration.yml
  src/functionalTest/resources/db/testmigration/V1_29__alter_jrd_tables.sql
  src/functionalTest/resources/sourceFiles/leaf/Locations.csv
  src/functionalTest/resources/sourceFiles/leaf/Locations_jsr.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialRegionType.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRegionTypeRowMapper.java
  src/main/resources/application-jrd-leaf-router.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialRegionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/helper/JrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialRegionTypeRowMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-379

#375 RDCC-4163: collating Dependabot PRs
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-375

#387 RDCC-4197: Changes to Camel Ingestion for Appointments
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/sourceFiles/parent/judicial_appointments.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_appointments_constraints_error.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_appointments_invalid_jsr_parent_per.csv
  src/functionalTest/resources/sourceFiles/parent/judicial_appointments_jsr.csv
  src/integrationTest/resources/sourceFiles/judicial_appointments_jsr.csv
  src/main/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointment.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapper.java
  src/main/resources/application-jrd-router-orchestartion.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/binder/JudicialOfficeAppointmentTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/helper/JrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/mapper/JudicialOfficeAppointmentRowMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-387

#388 RDCC-4331-CVE-2020-36518
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-388
