Repository hmcts/rd-judicial-data-load, pull requests merged in 2022-01, with the labels that each got.

#333 fix: RDCC-3782 Upgraded versions suggested by bot
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-333

#349 Feature: To send email in html text format with customised template
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/config/ParentCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/application-leaf-integration.yml
  src/functionalTest/resources/sourceFiles/parent/judicial_office_authorisation.csv
  src/integrationTest/resources/application-integration-test.yml
  src/integrationTest/resources/application-leaf-integration-test.yml
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/EmailTemplate.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdDataIngestionLibraryRunner.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdExecutor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdUserProfileUtil.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/EmailConfiguration.java
  src/main/java/uk/gov/hmcts/reform/juddata/configuration/FreemarkerConfig.java
  src/main/java/uk/gov/hmcts/reform/juddata/exception/EmailException.java
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/application.yaml
  src/main/resources/templates/lower-level-auth.ftl
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAuthorisationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/juddata/camel/util/EmailTemplateTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-349

#314 Added Email triggering generic method and corresponding test case
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/ICustomValidationProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessor.java
  src/main/java/uk/gov/hmcts/reform/juddata/camel/util/JrdConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/juddata/camel/processor/JudicialOfficeAppointmentProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-314

#353 RDCC-3840: Enabling Fortify Scan
  Jenkinsfile_nightly
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-353
