Repository hmcts/rd-judicial-data-load, pull requests merged in 2022-11, with the labels that each got.

#489 RDCC-5778: Upgrading `tomcat` to version `9.0.68`
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-489

#487 Feat:RDCC-5738:JRD : Update the Judicial Service Code mapping table for Family Public Law & Financial Remedy Services
  src/functionalTest/resources/db/testmigration/V1_40__update_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_40__update_judicial_service_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-487

#493 RDCC-5868
  src/functionalTest/resources/db/testmigration/V1_41__create_elinks_schema.sql
  src/functionalTest/resources/db/testmigration/V1_42__elinks_init_schema.sql
  src/functionalTest/resources/db/testmigration/V1_43__elinks_insert_judicial_location_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_44__elinks_insert_jrd_lrd_region_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_45__elinks_insert_judicial_service_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_46__elinks_insert_judicial_ticket_code_mapping.sql
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_41__create_elinks_schema.sql
  src/main/resources/db/migration/V1_42__elinks_init_schema.sql
  src/main/resources/db/migration/V1_43__elinks_insert_judicial_location_mapping.sql
  src/main/resources/db/migration/V1_44__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_45__elinks_insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_46__elinks_insert_judicial_ticket_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-493

#498 CVE Fix for Postgresql
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-498
