Repository hmcts/rd-judicial-data-load, pull requests merged in 2023-02, with the labels that each got.

#538 [RDCC-6179]- Spring Boot upgrade - Judicial Dataload project
  Dockerfile
  build.gradle
  infrastructure/.terraform-version
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdBatchTestValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/juddata/cameltest/JrdFileStatusCheckTest.java
  src/functionalTest/resources/application-integration.yml
  src/integrationTest/resources/application-integration-test.yml
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, no-changes, rel:rd-judicial-data-load-pr-538

#541 [RDCC-6244] OWASP update for Judicial Data laod repo
  build.gradle
  charts/rd-judicial-data-load/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-541

#542 [RDCC-6259]- JRD load PITESt fix
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-542

#539 [RDCC-5611]Special Tribunals : Update JRD Service Code Mapping table for Special Tribunals
  src/functionalTest/resources/db/testmigration/V1_48__insert_judicial_service_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_49__elinks_insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_48__insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_49__elinks_insert_judicial_service_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-539

#545 Feat:RDCC-6027:Changes made to merge code to master
  src/functionalTest/resources/db/testmigration/V1_47__elinks_insert_judicial_service_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_48__insert_judicial_service_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_49__elinks_alter_tables.sql
  src/functionalTest/resources/db/testmigration/V1_50__elinks_create_dataload_schedular_job.sql
  src/main/resources/db/migration/V1_47__elinks_insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_48__insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_49__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_50__elinks_create_dataload_schedular_job.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-545

#546 Revert "Feat:RDCC-6027:Changes made to merge code to master"
  src/functionalTest/resources/db/testmigration/V1_47__elinks_create_dataload_schedular_job.sql
  src/functionalTest/resources/db/testmigration/V1_48__insert_judicial_service_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_49__elinks_alter_tables.sql
  src/functionalTest/resources/db/testmigration/V1_49__elinks_insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_47__elinks_create_dataload_schedular_job.sql
  src/main/resources/db/migration/V1_48__insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_49__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_49__elinks_insert_judicial_service_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-546

#547 Revert "Revert "Feat:RDCC-6027:Changes made to merge code to master""
  infrastructure/variables.tf
  src/functionalTest/resources/db/testmigration/V1_47__elinks_insert_judicial_service_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_48__insert_judicial_service_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_49__elinks_alter_tables.sql
  src/functionalTest/resources/db/testmigration/V1_50__elinks_create_dataload_schedular_job.sql
  src/main/resources/db/migration/V1_47__elinks_insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_48__insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_49__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_50__elinks_create_dataload_schedular_job.sql
Labels: ns:rd, prd:rd, no-changes, rel:rd-judicial-data-load-pr-547

#548 RDCC-6332: Fix for `CVE-2022-40152`
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-548

#553 RDCC-6432: Adding Suppression for `CVE-2022-45688`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-553
