Repository hmcts/rd-judicial-data-load, pull requests merged in 2023-10, with the labels that each got.

#622 DTSRD-1456
  build.gradle
  charts/rd-judicial-data-load/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-622

#623 Addresses CVE-2023-42794, CVE-2023-42795 and CVE-2023-45648
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-623

#624 suppress CVE-2023-5072
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-624

#618 eLinks : Insert new column in judicial_additional_role table
  config/owasp/suppressions.xml
  src/functionalTest/resources/db/testmigration/V1_86__elinks_responses_alter_tables.sql
  src/functionalTest/resources/db/testmigration/V1_87__elinks_alter_judicial_additional_role.sql
  src/functionalTest/resources/db/testmigration/V1_88__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_84__elinks_responses_alter_tables.sql
  src/main/resources/db/migration/V1_85__elinks_alter_judicial_additional_role.sql
  src/main/resources/db/migration/V1_86__elinks_insert_jrd_lrd_region_mapping.sql
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-data-load-pr-618
