Repository hmcts/rd-judicial-data-load, pull requests merged in 2023-08, with the labels that each got.

#608 flyway changes
  src/main/resources/db/migration/V1_70__elinks_insert_judicial_ticket_code_type.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-608

#609 CVE fix CVE-2023-34034
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-609

#598 data model changes for elinks
  charts/rd-judicial-data-load/Chart.yaml
  src/functionalTest/resources/db/testmigration/V1_59__elinks_insert_judicial_location_mapping_table.sql
  src/functionalTest/resources/db/testmigration/V1_60__insert_judicial_location_mapping_table.sql
  src/functionalTest/resources/db/testmigration/V1_61__alter_judicial_user_profile_extracted_date.sql
  src/functionalTest/resources/db/testmigration/V1_62__elinks_judicial_location_mapping_table.sql
  src/functionalTest/resources/db/testmigration/V1_63__elinks_insert_cft_region_type_table.sql
  src/functionalTest/resources/db/testmigration/V1_64__elinks_update_jrd_lrd_region_mapping_table.sql
  src/functionalTest/resources/db/testmigration/V1_66__elinks_sequence_judicial_role_type_table.sql
  src/functionalTest/resources/db/testmigration/V1_67__elinks_insert_judicial_location_maping_table.sql
  src/functionalTest/resources/db/testmigration/V1_68__elinks_alter_table.sql
  src/functionalTest/resources/db/testmigration/V1_69__elinks_alter_tables.sql
  src/functionalTest/resources/db/testmigration/V1_70__elinks_alter_dataload_exception.sql
  src/functionalTest/resources/db/testmigration/V1_71__elinks_insert_judicial_ticket_location_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_72__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_62__elinks_judicial_location_mapping_table.sql
  src/main/resources/db/migration/V1_63__elinks_insert_cft_region_type_table.sql
  src/main/resources/db/migration/V1_64__elinks_update_jrd_lrd_region_mapping_table.sql
  src/main/resources/db/migration/V1_65__elinks_sequence_judicial_role_type_table.sql
  src/main/resources/db/migration/V1_66__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_67__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_68__elinks_insert_judicial_location_mapping_tables.sql
  src/main/resources/db/migration/V1_69__elinks_alter_exception_table.sql
  src/main/resources/db/migration/V1_70__elinks_insert_judicial_ticket_code_type.sql
  src/main/resources/db/migration/V1_71__elinks_insert_judicial_ticket_location_mapping.sql
  src/main/resources/db/migration/V1_72__elinks_insert_jrd_lrd_region_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-598

#612 flyway changes
  src/functionalTest/resources/db/testmigration/V1_73__elinks_alter_dataload_exception.sql
  src/functionalTest/resources/db/testmigration/V1_74__elinks_insert_user_profile.sql
  src/functionalTest/resources/db/testmigration/V1_75__elinks_insert_jrd_lrd_region_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_76__elinks_alter_appointment_foreign_key_nonNull.sql
  src/functionalTest/resources/db/testmigration/V1_77__judicial_ticket_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_78__judicial_service_code_mapping.sql
  src/functionalTest/resources/db/testmigration/V1_79__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_73__judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_74__judicial_ticket_code_mapping.sql
  src/main/resources/db/migration/V1_75__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_76__elinks_alter_appointment_foreign_key_nonNull.sql
  src/main/resources/db/migration/V1_77__elinks_insert_jrd_lrd_region_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-data-load-pr-612
